
header {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content:space-between;
    align-items: center;
    background: #110913;
}

/*---------------------------------------------- POP UP CONNEXION / INSCRIPTION -------------------------------------------------*/

.overlay, .overlay2 {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.514);
    width: 100%;
    height: 100%;
    display: none;
}

#popupinscription, #popupconnexion {
    margin: 10% auto 10% auto;
    padding: 15px;
    width: 50%;
    background-color: rgba(53, 62, 70, 0.459);
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 5px 10px rgba(243, 242, 239, 0.849);
}

/*---------------------------------------------- IMAGES -------------------------------------------------*/


#logoPlayMe {
    height: 80%;
    object-fit: contain;
    padding-left: 3vw;
}

#logoInbox {
    height: 5vh;
    width: 5vw;
    object-fit: contain;
    flood-color: aliceblue;
}

#logoProfile {
    height: 5vh;
    width: 5vw;
    object-fit: contain;
    
}

.previousnext {
    height: 5vh;
}

#logoplay {
    height: 5vh;
}

/*---------------------------------------------- IMAGES -------------------------------------------------*/


body {
    background: linear-gradient(180deg, #474145 100%, #A8B1FF 100%);
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

#fixe {
    display: flex;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

#gauche {
    height: 95vh;
    width: 10%;
    
}

#navgauche {
    display: flex;
    height: 60%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #110913;
    color: rgb(224, 224, 224);
    gap: 20px;
}

#currentmusic {
    background-color: #110913;;
    display: flex;
    height: 35%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

#droite {
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(142, 142, 179);
    font-family: 'Poppins', sans-serif;
}

form {
    padding-left: 50px;
    width: fit-content;
    align-items: center;
}

.titrepartie {
    padding-left: 30px;
}

#nouveautes {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.nouveautes1 {
    height: 100%;
    width: 15vw;
    background-color: aliceblue;
    
}

#suggestions {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.suggestions1 {
    height: 100%;
    width: 15vw;
    background-color: aliceblue;
    
}

